# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Environment variables
.env
.env.test

# MacOS
.DS_Store

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Java
*.class
*.jar
*.war
*.ear
*.class
*.iml
*.ipr
*.iws
*.project
*.classpath
*.settings/
target/
build/

# Ruby
*.gem
*.rbc
.bundle/
.config/
coverage/
InstalledFiles
pkg/
spec/reports/
test/tmp/
test/version_tmp/
tmp/

# PHP
vendor/
composer.lock

# Go
bin/
obj/