.hospital-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 300px;
    padding: 20px;
    background-color: white;
    height: 400px;
    justify-content: space-evenly;
    border-radius: 20px;

}
.hospitalCardImage{
    width: 200px;
}
.hospital-card-container .heading{
    font-size: 20px;
}
.hospital-name{
    font-size: 18px;
    margin-bottom: 0;
}
.hospital-address{
    font-size: 13px;
    margin-top: 0px;
}

.hospital-card-container button{
    background-color: transparent;
    border: 1px solid rgb(179, 178, 178);
    width: 110px;
    height: 30px;
    border-radius: 100px;
    color: rgb(179, 178, 178);
    transition: all 0.2s;
    cursor: pointer;
}

.hospital-card-container button:hover{
    border: 1px solid rgb(77, 77, 77);
    color: rgb(77, 77, 77);
}
